.navbar-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    height: 80px;
    padding: 0% 3% !important;
    background-color: transparent;
}
.app-logo-link{
    width: 5% !important;
    height:90%;
}
.app-logo{
    width: 25%;
    height:90%;
}
.app-logo-div{
    width: 80% !important;
    height: 40px;
}

.user-options{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.search-icon,.bell-icon{
    font-size: 20px;
    color: var(--gray);
}
.separator{
    color: var(--gray);
    margin: 0% 3% !important;
}
.username{
    margin-top: 0.5% !important;
    font-size: 14px;
    color: var(--gray);
}
.user-avatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: fill;
    cursor: pointer;
    margin-left: 5% !important;
    margin-top: -5% !important;
}
.burger-icon{
    display: none;
    color: var(--pureWhite) !important;
    font-size: 30px;
}
.search-text{
    font-size: 15px;
    color: var(--white);
}
.user-profile-information{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

@media only screen and (max-width:768px){
    .search-text{
        font-size: 17px !important;
    }
    .app-logo-div{
        margin-left: 20% !important;
    }
    .app-logo{
        width: 70%;
    }
    .burger-icon{
        display: block;
    }
    .user-options{
        position: fixed;
        background-color: rgb(26, 26, 26);
        width: 100%;
        height: 100vh;
        left: -100%;
        padding: 2% 0% 100% !important;
        top: 50px;
        transition: all .5s;
        text-align: center;
        margin: 0;
        padding: 0;
        z-index: 1;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .separator,.bell-icon,.user-avatar{
        display: none;
    }
    .user-options-active{
        left:0% !important;
    }
    .user-profile-information{
        width: 100%;
    }
    .user-profile-information>.username{
        font-weight: bold;
        font-size: 22px;
    }
    .navigation-item{
        text-align: left !important;
        margin-left: 10% !important;
    }
    .username{
        margin-left: 20% !important;
    }
}